@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

#search{
	 @include border-radius(10px); 	
}

#search:focus {
    outline-width: 0;
}